# Lab 03: Fun with `pandas`!

Below are some exercises to get you working with `pandas` to manipulate data. As always, get as far as you can, and ask for help when you need it! Your teacher (me), you instructor, and your classmates are all here to help each other get better at coding. Getting the code to work is important, but do also take the time to make sure you understand what the commands are doing. This time, (with the exception of the Stroop challenge), all I've given you is the code to download the data. Then you are on your own. For the Stroop challenge, I gave the you code for the first step—after that, it's up to you :-)

## Music sales challenge

Write a script that:

1. Combines the tables of best-selling physical singles and best-selling digital singles on the Wikipedia page "List_of_best-selling_singles"
2. Adds a column which marks whether each row is from the list of physical singles or digital singles
3. Outputs the artist and single name for the year you were born. If there is no entry for that Released, take the closest year after you were born.
4. Outputs the artist and single name for the year you were 15 years old.

In [38]:
!pip install lxml
import pandas as pd

rawdata = pd.read_html("https://en.wikipedia.org/wiki/List_of_best-selling_singles")

for idx, table in enumerate(rawdata):
    print(f"Table {idx}:")
    print(table.head())

physical_singles = pd.concat([rawdata[0], rawdata[1], rawdata[2]])
digital_singles = pd.concat([rawdata[3], rawdata[4]])

physical_singles['Type'] = 'Physical'
digital_singles['Type'] = 'Digital'

df = pd.concat([physical_singles, digital_singles], ignore_index=True)

print(df.head())

Requirement already satisfied: lxml in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (5.2.2)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: pip install --upgrade pip
Table 0:
                    Artist                                             Single  \
0              Bing Crosby                                  "White Christmas"
1               Elton John  "Something About the Way You Look Tonight"/"Ca...
2              Bing Crosby                                     "Silent Night"
3               Tino Rossi                                  "Petit Papa Noël"
4  Bill Haley & His Comets                            "Rock Around the Clock"

   Released Sales (in millions)  Source
0      1942                  50     [1]
1      1997                  33     [1]
2      1935                  30     [2]
3      1946                  30     [3]
4      1954                  25  [4][5]
Table 1:
                Artist                            Single  Released  \
0  The Andrews Sisters           "Bei Mir Bist Du Schön"      1937
1            Scorpions                  "Wind of Change"      1991
2   Prince Nico Mbarga                    "Sweet Mother"      1976
3         Kyu Sakamoto                        "Sukiyaki"      1963
4           Gene Autry  "Rudolph the Red-Nosed Reindeer"      1949

   Sales (in millions) Source
0                 14.0   [17]
1                 14.0   [18]
2                 13.0   [19]
3                 13.0   [20]
4                 12.5   [21]
Table 2:
            Artist                             Single  Released  \
0       Elton John          "Candle in the Wind 1997"      1997
1     Mariah Carey  "All I Want for Christmas Is You"      1994
2          Journey             "Don't Stop Believing"      1981
3  Michael Jackson                         "Thriller"      1983
4  Michael Jackson                      "Billie Jean"      1983

  Certified Sales
0    28.7 Million
1    26.9 Million
2    25.1 Million
3    23.1 Million
4    17.2 Million
Table 3:
                              Artist                      Single  Released  \
0                         Ed Sheeran              "Shape of You"      2017
1  Luis Fonsi featuring Daddy Yankee                 "Despacito"      2017
2            Rihanna featuring Drake                      "Work"      2016
3      The Chainsmokers and Coldplay  "Something Just Like This"      2017
4                         Ed Sheeran                   "Perfect"      2017

  Sales (in millions)    Source
0             41.5[a]  [47][48]
1             36.1[a]  [47][48]
2             32.5[a]      [49]
3             21.5[a]  [47][48]
4             21.4[a]  [47][48]
Table 4:
                                     Artist               Single  Released  \
0  Robin Thicke featuring T.I. and Pharrell      "Blurred Lines"      2013
1     Maroon 5 featuring Christina Aguilera  "Moves Like Jagger"      2011
2                                     Kesha            "Tik Tok"      2009
3                                 Lady Gaga         "Poker Face"      2008
4                         Pharrell Williams              "Happy"      2013

  Sales (in millions) Source
0             14.8[a]   [62]
1                14.4   [63]
2                  14   [64]
3                  14   [65]
4             13.9[a]   [66]
Table 5:
                            Artist             Single  Released  \
0                       The Weeknd  "Blinding Lights"      2019
1                       The Weeknd  "Save Your Tears"      2020
2  The Kid Laroi and Justin Bieber             "Stay"      2021
3                     Harry Styles        "As It Was"      2022
4                         Dua Lipa       "Levitating"      2020

   Units (in billions)        Source
0                 5.31  [80][81][82]
1                 4.66  [81][82][83]
2                 3.81      [81][82]
3                 3.74      [82][83]
4                 2.99      [81][82]
Table 6:
   Year           Artist                            Single Source
0  1966     Barry Sadler  "The Ballad of the Green Berets"   [84]
1  1968      The Beatles                        "Hey Jude"   [85]
2  1969      The Archies                    "Sugar, Sugar"   [86]
3  1990          Madonna                           "Vogue"   [87]
4  1992  Whitney Houston          "I Will Always Love You"   [88]
Table 7:
   Year         Artist                  Single Sales (in millions)[b] Source
0  2007  Avril Lavigne            "Girlfriend"                    7.3   [90]
1  2008      Lil Wayne              "Lollipop"                    9.1   [91]
2  2009      Lady Gaga            "Poker Face"                    9.8   [70]
3  2010          Kesha               "Tik Tok"                   12.8   [92]
4  2011     Bruno Mars  "Just the Way You Are"                   12.5   [68]
Table 8:
  .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}html.skin-theme-clientpref-night .mw-parser-output .navbar li a abbr{color:var(--color-base)!important}@media(prefers-color-scheme:dark){html.skin-theme-clientpref-os .mw-parser-output .navbar li a abbr{color:var(--color-base)!important}}@media print{.mw-parser-output .navbar{display:none!important}}vteLists of best-selling singles  \
0                                       Asia-Pacific
1                                             Europe
2                                      North America
3                                      South America
4                                     Related topics

  .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}html.skin-theme-clientpref-night .mw-parser-output .navbar li a abbr{color:var(--color-base)!important}@media(prefers-color-scheme:dark){html.skin-theme-clientpref-os .mw-parser-output .navbar li a abbr{color:var(--color-base)!important}}@media print{.mw-parser-output .navbar{display:none!important}}vteLists of best-selling singles.1
0                        Australia Japan South Korea
1  Belgium Finland France Germany Italy Netherlan...
2                        Canada Mexico United States
3                                             Brazil
4              By country By girl groups Sheet music
Table 9:
                   vteMusic industry  \
0  Major companies and organizations
1                    Representatives
2                         Publishers
3                      Record labels
4                          Retailers

                                 vteMusic industry.1
0  Representatives AMPROFON ARIA BVMI BPI Music C...
1  AMPROFON ARIA BVMI BPI Music Canada FIMI IFPI ...
2  BMG Rights Management Sony Music Publishing Un...
3  Major: Sony Universal Warner Independent: Conc...
4  Amazon Digital music stores (iTunes Store) Fna...
Table 10:
                 0                                                  1
0  Representatives  AMPROFON ARIA BVMI BPI Music Canada FIMI IFPI ...
1       Publishers  BMG Rights Management Sony Music Publishing Un...
2    Record labels  Major: Sony Universal Warner Independent: Conc...
3        Retailers  Amazon Digital music stores (iTunes Store) Fna...
4       Live music     CTS Eventim Live Nation LiveStyle Ticketmaster
Table 11:
            0                                                  1
0  Production  Arrangement Songwriter Composer Lyricist Condu...
Table 12:
          0                                                  1
0  Channels  Channel V CMT Fuse Mnet MTV MTV2 Tr3s MuchMusi...
1    Series  Idol franchise Popstars Star Academy The Four ...
Table 13:
  vteIFPI Global Year-End Charts  \
0             Artist of the Year
1              Album of the Year
2             Single of the Year

                    vteIFPI Global Year-End Charts.1
0  One Direction (2013) Taylor Swift (2014) Adele...
1  Hybrid Theory by Linkin Park (2001) The Eminem...
2  "Girlfriend" by Avril Lavigne (2007) "Lollipop...
                    Artist                                             Single  \
0              Bing Crosby                                  "White Christmas"
1               Elton John  "Something About the Way You Look Tonight"/"Ca...
2              Bing Crosby                                     "Silent Night"
3               Tino Rossi                                  "Petit Papa Noël"
4  Bill Haley & His Comets                            "Rock Around the Clock"

   Released Sales (in millions)  Source Certified Sales      Type
0      1942                  50     [1]             NaN  Physical
1      1997                  33     [1]             NaN  Physical
2      1935                  30     [2]             NaN  Physical
3      1946                  30     [3]             NaN  Physical
4      1954                  25  [4][5]             NaN  Physical

In [39]:
birth_year = 2001
age_15_year = birth_year + 15
df_sorted = df.sort_values(by='Released')

born_rows = df_sorted[df_sorted['Released'] >= birth_year]
if not born_rows.empty:
    born_row = born_rows.iloc[0]
    artist_born = born_row['Artist']
    single_born = born_row['Single']
    print(f"Artist and Single for birth year ({birth_year}): {artist_born} - {single_born}")
else:
    born_rows_before = df_sorted[df_sorted['Released'] < birth_year]
    if not born_rows_before.empty:
        born_row = born_rows_before.iloc[-1]
        artist_born = born_row['Artist']
        single_born = born_row['Single']
        print(f"Artist and Single closest to birth year ({birth_year}): {artist_born} - {single_born}")
    else:
        print(f"No singles found for the birth year ({birth_year}).")

age_15_rows = df_sorted[df_sorted['Released'] >= age_15_year]
if not age_15_rows.empty:
    age_15_row = age_15_rows.iloc[0]
    artist_age_15 = age_15_row['Artist']
    single_age_15 = age_15_row['Single']
    print(f"Artist and Single for age 15 ({age_15_year}): {artist_age_15} - {single_age_15}")
else:
    age_15_rows_before = df_sorted[df_sorted['Released'] < age_15_year]
    if not age_15_rows_before.empty:
        age_15_row = age_15_rows_before.iloc[-1]
        artist_age_15 = age_15_row['Artist']
        single_age_15 = age_15_row['Single']
        print(f"Artist and Single closest to age 15 year ({age_15_year}): {artist_age_15} - {single_age_15}")
    else:
        print(f"No singles found for the year you were 15 ({age_15_year}).")

Artist and Single for birth year (2001): O-Zone - "Dragostea din tei"
Artist and Single for age 15 (2016): Drake featuring Wizkid and Kyla - "One Dance"

## Space challenge

1. Make a single dataframe that combines the space missions from the 1950's to the 2020's
2. Write a script that returns the year with the most launches
3. Write a script that returns the most common month for launches
4. Write a script that ranks the months from most launches to fewest launches

In [2]:
# Starter code...

#%pip install lxml
import pandas as pd

rawdata = pd.read_html("https://en.wikipedia.org/wiki/Timeline_of_Solar_System_exploration")

## Supervillain challenge

1. Write a script that combines the tables showing supervillain debuts from the 30's through the 2010's
2. Write a script that ranks each decade in terms of how many supervillains debuted in that decade
3. Write a script that ranks the different comics companies in terms of how many supervillains they have, and display the results in a nice table (pandas dataframe)

#### 1

In [42]:
rawdata = pd.read_html("https://en.wikipedia.org/wiki/List_of_comic_book_supervillain_debuts")

for idx, table in enumerate(rawdata):
    print(f"Table {idx}:")
    print(table.head())


df = pd.concat(rawdata[:12], ignore_index=True)

Table 0:
    0                                                  1
0 NaN  This article has multiple issues. Please help ...
1 NaN  This article includes a list of general refere...
2 NaN  This article needs additional citations for ve...
Table 1:
    0                                                  1
0 NaN  This article includes a list of general refere...
Table 2:
    0                                                  1
0 NaN  This article needs additional citations for ve...
Table 3:
  Character / Team      Year Debuted                   Company  \
0   Ultra-Humanite       1939 (June)                        DC
1        Dr. Death       1939 (July)                        DC
2         The Monk  1939 (September)                        DC
3         The Claw   1939 (December)  Lev Gleason Publications

                   Creator/s               First Appearance
0  Jerry Siegel, Joe Shuster     Action Comics (vol. 1) #13
1      Bob Kane, Bill Finger  Detective Comics (vol. 1) #29
2      Bob Kane, Bill Finger  Detective Comics (vol. 1) #31
3                  Jack Cole        Silver Streak Comics #1
Table 4:
         Character / Team     Year Debuted            Company  \
0                Hath-Set   1940 (January)                 DC
1  Professor Hugo Strange  1940 (February)                 DC
2           Doctor Sivana  1940 (February)  Fawcett Comics/DC
3              Lex Luthor     1940 (April)                 DC
4               The Joker     1940 (April)                 DC

                               Creator/s               First Appearance
0            Gardner Fox, Dennis Neville                Flash Comics #1
1                  Bob Kane, Bill Finger  Detective Comics (vol. 1) #36
2                Bill Parker, C. C. Beck                 Whiz Comics #2
3              Jerry Siegel, Joe Shuster     Action Comics (vol. 1) #23
4  Bob Kane, Jerry Robinson, Bill Finger             Batman (vol. 1) #1
Table 5:
  Character / Team     Year Debuted Company  \
0         Deadshot      1950 (June)      DC
1        The Mekon             1950     NaN
2         Red Hood  1951 (February)      DC
3      Killer Moth  1951 (February)      DC
4          Firefly      1952 (June)      DC

                                 Creator/s               First Appearance
0  Bob Kane, David Vern Reed, Lew Schwartz            Batman (vol. 1) #59
1                            Frank Hampson  Dan Dare, Pilot of the Future
2                                      NaN          Detective Comics #168
3                                      NaN                     Batman #63
4               France Herron, Dick Sprang          Detective Comics #184
Table 6:
  Character / Team     Year Debuted Company                       Creator/s  \
0           Grottu  1960 (February)  Marvel        Jack Kirby, Bill Everett
1           Starro  1960 (February)      DC                     Gardner Fox
2            Amazo      1960 (June)      DC                     Gardner Fox
3    Professor Ivo      1960 (June)      DC      Gardner Fox, Mike Sekowsky
4        Trickster      1960 (June)      DC  John Broome, Carmine Infantino

                      First Appearance
0                    Strange Tales #73
1  The Brave and the Bold (vol. 1) #28
2  The Brave and the Bold (vol. 1) #30
3  The Brave and the Bold (vol. 1) #30
4              The Flash (vol. 1) #113
Table 7:
          Character / Team    Year Debuted Company  \
0          Agatha Harkness  1970 (January)  Marvel
1                    Arkon    1970 (April)  Marvel
2                  Man-Bat     1970 (June)      DC
3            Lethal Legion     1970 (July)  Marvel
4  Intergang (Morgan Edge)  1970 (October)      DC

                              Creator/s                 First Appearance
0                  Stan Lee, Jack Kirby               Fantastic Four #94
1              Roy Thomas, John Buscema                     Avengers #75
2             Frank Robbins, Neal Adams   Detective Comics (vol. 1) #400
3  Roy Thomas, John Buscema, Tom Palmer                     Avengers #78
4                            Jack Kirby  Superman's Pal Jimmy Olsen #133
Table 8:
  Character / Team Year Debuted Company  \
0        Cutthroat         1980  Marvel
1          Destiny         1980  Marvel
2   Sebastian Shaw         1980  Marvel
3   Rainbow Raider         1980      DC
4   Dansen Macabre         1980  Marvel

                                     Creator/s          First Appearance
0                                          NaN  Marvel Team-Up Vol.1 #89
1                  Chris Claremont, John Byrne        Uncanny X-Men #141
2                  Chris Claremont, John Byrne        Uncanny X-Men #131
3                                   Cary Bates                Flash #286
4  Steven Grant, Tom Sutton, Carmine Infantino  Marvel Team-Up vol.1 #93
Table 9:
                 Character / Team Year Debuted Company  \
0                      Crimesmith         1990      DC
1                        NKVDemon         1990      DC
2                     Blackout #2  1990 (June)  Marvel
3  Cyborg Superman (Hank Henshaw)         1990      DC
4                       Yuga Khan         1990      DC

                 Creator/s             First Appearance
0             Marv Wolfman                  Batman #443
1  Marv Wolfman, Jim Aparo                  Batman #445
2            Howard Mackie               Ghost Rider #2
3              Dan Jurgens  Adventures of Superman #466
4                      NaN          New Gods Vol.2, #17
Table 10:
  Character / Team Year Debuted Company                    Creator/s  \
0       Kyle Abbot         2000      DC                   Greg Rucka
1       Able Crown         2000      DC                          NaN
2         Agamemno         2000      DC                          NaN
3             Orca         2000      DC                   Larry Hama
4            Zeiss         2000      DC  Ed Brubaker, Scott McDaniel

        First Appearance
0  Detective Comics #743
1  Detective Comics #744
2          Silver Age #1
3            Batman #579
4            Batman #582
Table 11:
       Character / Team      Year Debuted          Company  \
0        Allegra Garcia   2010 (December)               DC
1          Tommy Merlyn  2012 (September)               DC
2  Gorr the God Butcher    2013 (January)           Marvel
3             Robo-Chef              2013  Disney/Hyperion
4             Bloodwork     2016 (August)               DC

                                           Creator/s  \
0  Eric Wallace, Fabrizio Florentinom, Cliff Rich...
1                                   Brian Buccellato
2                                        Jason Aaron
3                                      Rhode Montijo
4                                   Brian Buccellato

                                    First Appearance
0                                         Titans #28
1                             Green Arrow (vol.5) #0
2                            Thor: God of Thunder #1
3  The Gumazing Gum Girl! Book 1: Chews Your Destiny
4                                      The Flash #28

#### 2

In [45]:
import numpy as np
def extract_year(value):
    if isinstance(value, str):
        match = re.search(r'\b(19[3-9]\d|20[0-1]\d)\b', value)
        if match:
            return int(match.group(0))
    return np.nan

df['Year Extracted'] = df['Year Debuted'].apply(extract_year)

df_cleaned = df.dropna(subset=['Year Extracted'])

df_cleaned['Decade'] = (df_cleaned['Year Extracted'] // 10) * 10

decade_counts = df_cleaned['Decade'].value_counts().reset_index()
decade_counts.columns = ['Decade', 'Debuts']

ranked_decades = decade_counts.sort_values(by='Debuts', ascending=False).reset_index(drop=True)

/var/folders/m2/9nvmmd1949g4sm_j334h50lw0000gn/T/ipykernel_86616/4106244751.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Decade'] = (df_cleaned['Year Extracted'] // 10) * 10

In [46]:
print(ranked_decades)

   Decade  Debuts
0  1960.0     228
1  1970.0      97
2  1980.0      92
3  1990.0      84
4  2000.0      49
5  1940.0      47
6  1950.0      26
7  2010.0       9
8  1930.0       4

#### 3

In [51]:
company_counts = df['Company'].value_counts().reset_index()
company_counts.columns = ['Company', 'Number of Supervillains']
company_counts = company_counts.sort_values(by='Number of Supervillains', ascending=False).reset_index(drop=True)
print(company_counts)

                     Company  Number of Supervillains
0                         DC                      338
1                     Marvel                      264
2          Fawcett Comics/DC                        6
3                      Image                        5
4                 Dark Horse                        5
5              Marvel/Timely                        4
6            Disney/Hyperion                        4
7                   Eternity                        3
8   Lev Gleason Publications                        1
9                     Comico                        1
10                    Mirage                        1
11              Image Comics                        1

## Stroop challenge

Every year between 2015 and 2021, the students in my Language, Cognition, and the Brain course participated in a version of the Stroop task. Using a stopwatch (ok, using their phones), they recorded how fast they could say a list of things (either reading or naming colors or color words). The column names mean "Reading with No Interference", "Naming with Interference", "Naming with No Interference", and "Reading with Interference". The times are in seconds.

### Stroop challenge 1: 
Transform these data from wide format to long format, so that the result is a dataframe with
- 1 column named "Participant_id" with a unique number for each participant (you can use the row indices)
- 1 column named "Released" with the year data
- 1 column named "Task" that shows which task they were doing
- 1 column named "RT" that shows their response time

In [56]:
# Starter code 1...

df = pd.read_csv("https://raw.githubusercontent.com/ethanweed/Stroop/master/Stroop-raw-over-the-years.csv")
df.head()

   Reading_NoInt  Naming_Int  Naming_NoInt  Reading_Int  Year
0           4.16        6.76          4.45         4.65  2015
1           4.35        7.73          4.78         4.46  2015
2           3.60        7.00          4.00         3.50  2015
3           3.90        9.03          4.60         6.30  2015
4           4.22        9.98          6.83         6.24  2015

In [60]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/ethanweed/Stroop/master/Stroop-raw-over-the-years.csv")

df.index.name = 'Participant_id'
df = df.reset_index()


long_df = stroop_df.melt(
    id_vars=["Participant_id", "Year"],
    var_name="Task",
    value_name="RT"
)

long_df.rename(columns={"Year": "Released"}, inplace=True)

# Preview the transformed dataframe
print(long_df)

     Participant_id  Released           Task    RT
0                 0      2015  Reading_NoInt  4.16
1                 1      2015  Reading_NoInt  4.35
2                 2      2015  Reading_NoInt  3.60
3                 3      2015  Reading_NoInt  3.90
4                 4      2015  Reading_NoInt  4.22
..              ...       ...            ...   ...
723             177      2021    Reading_Int  4.28
724             178      2021    Reading_Int  5.49
725             179      2021    Reading_Int  5.16
726             180      2021    Reading_Int  5.51
727             181      2021    Reading_Int  4.59

[728 rows x 4 columns]

## Stroop challenge 2 (Advanced!!!):

Make a new dataframe which shows the mean response time (in seconds) for each task for each year.

In [62]:
mean_df = long_df.groupby(["Released", "Task"])["RT"].mean().reset_index()

print(mean_df)

    Released           Task         RT
0       2015     Naming_Int   8.617143
1       2015   Naming_NoInt   5.123571
2       2015    Reading_Int   4.446429
3       2015  Reading_NoInt   3.951429
4       2016     Naming_Int   8.859268
5       2016   Naming_NoInt   5.405610
6       2016    Reading_Int   5.340000
7       2016  Reading_NoInt   4.076098
8       2017     Naming_Int   9.311765
9       2017   Naming_NoInt   5.771176
10      2017    Reading_Int   5.492353
11      2017  Reading_NoInt   4.414412
12      2018     Naming_Int   9.372667
13      2018   Naming_NoInt   5.298000
14      2018    Reading_Int   4.938667
15      2018  Reading_NoInt   3.886000
16      2019     Naming_Int   9.536087
17      2019   Naming_NoInt   6.345652
18      2019    Reading_Int   6.090870
19      2019  Reading_NoInt   4.935652
20      2020     Naming_Int   9.740833
21      2020   Naming_NoInt   5.962500
22      2020    Reading_Int   4.956667
23      2020  Reading_NoInt   4.395000
24      2021     Naming_Int  10.105484
25      2021   Naming_NoInt   6.387742
26      2021    Reading_Int   7.038065
27      2021  Reading_NoInt   4.842581